tr {
    vertical-align: top;
}

#sidebar {
    padding-right: 20px;
    border-right: 1px solid #666;
}

#navigation {
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
}

#main {
    padding-left: 10px;
}

h1 {
    border-bottom: 2px solid #888;
}